---
services:
  forgejo:
    image: codeberg.org/forgejo/forgejo:{{ forgejo_version }}
    container_name: forgejo
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      - USER_UID={{ forgejo_user_info.uid }}
      - USER_GID={{ forgejo_group_info.gid }}
      - FORGEJO__database__DB_TYPE=postgres
      - FORGEJO__database__HOST=forgejo-postgres:5432
      - FORGEJO__database__NAME={{ forgejo_db_name }}
      - FORGEJO__database__USER={{ forgejo_db_user }}
      - FORGEJO__database__PASSWD={{ forgejo_db_password }}
      - FORGEJO__security__SECRET_KEY={{ forgejo_secret_key }}
      - FORGEJO__oauth2__JWT_SECRET={{ forgejo_jwt_secret }}
      - FORGEJO__server__DOMAIN={{ forgejo_domain }}
      - FORGEJO__server__SSH_DOMAIN={{ forgejo_ssh_domain | default(forgejo_domain) }}
      - FORGEJO__server__ROOT_URL={{ forgejo_root_url | default('https://' + forgejo_domain) }}
      - FORGEJO__server__SSH_PORT={{ forgejo_external_ssh_port }}
{% if forgejo_lfs_enabled %}
      - FORGEJO__lfs__LFS_START_SERVER=true
      - FORGEJO__lfs__LFS_JWT_SECRET={{ forgejo_lfs_jwt_secret }}
{% endif %}
{% if forgejo_mailer_enabled %}
      - FORGEJO__mailer__ENABLED=true
      - FORGEJO__mailer__SMTP_ADDR={{ forgejo_mailer_host }}:{{ forgejo_mailer_port }}
      - FORGEJO__mailer__USER={{ forgejo_mailer_user }}
      - FORGEJO__mailer__PASSWD={{ forgejo_mailer_passwd }}
      - FORGEJO__mailer__FROM={{ forgejo_mailer_from }}
{% endif %}
    volumes:
      - "{{ forgejo_data_dir }}:/data"
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "{{ forgejo_ssh_bind }}:22"

  postgres:
    image: postgres:17
    container_name: forgejo-postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER={{ forgejo_db_user }}
      - POSTGRES_PASSWORD={{ forgejo_db_password }}
      - POSTGRES_DB={{ forgejo_db_name }}
    volumes:
      - "{{ forgejo_postgres_dir }}:/var/lib/postgresql/data"

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    depends_on:
      - forgejo
    ports:
      - "{{ forgejo_http_bind }}:80"
      - "{{ forgejo_https_bind }}:443"
      - "{{ forgejo_https_bind }}:443/udp"
    volumes:
      - "{{ forgejo_caddy_config_dir }}:/etc/caddy"
